/* Root Variables */
:root {
    --background-color: #F2F0EA; /* Cream */
    --navbar-color: #A8D5E3; /* Teal */
    --link-color: #C05746; /* Rust Red */
    --button-primary-color: #C05746; /* Rust Red */
    --button-secondary-color: #225E68; /* Deep Teal */
    --hover-link-color: #E76D54; /* Orange Hue */
    --hover-button-primary: #E76D54; /* Darker Coral */
    --card-background-color: #FFFFFF; /* Light gray background color */
    --card-border-color: #ccc; /* Thin border */
    --text-color: #000; /* Black */
    --footer-background-color: rgba(0, 0, 0, 0.7); /* Footer background */
    --footer-link-hover-color: #E76D54; /* Footer link hover color */
}

/* Global Styles */
html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS */
}

body {
    background-color: var(--background-color);
    font-family: "PT Serif", serif; /* Set PT Serif as the font for body text */
    font-weight: 400; /* Regular weight */
    font-style: normal;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS */
}

/* Link Styles */
a {
    color: var(--link-color);
}

a:hover {
    color: var(--hover-link-color);
    /* transition: color 0.5s ease; */
}

/* Button Styles */
.btn-primary {
    background-color: var(--button-primary-color) !important;
    border-color: var(--button-primary-color) !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--hover-button-primary) !important;
    border-color: var(--hover-button-primary) !important;
}

/* Responsive Font Size */
@media (max-width: 767.98px) {
    body {
        font-size: 1.2rem; /* Smaller font size for phones */
    }
}

/* Section Padding */
section {
    padding: 80px 0;
}

/* Container Width Adjustments */
@media (min-width: 1200px) { /* XL screens */
    .container {
        max-width: 1200px; /* Adjust as needed */
    }
}

@media (min-width: 1400px) { /* XXL screens */
    .container {
        max-width: 1400px; /* Adjust as needed */
    }
}

/* Home Section Specific Styles */
#aboutme {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}

/* Other Sections */
#publications, #talks {
    scroll-margin-top: 70px;
    padding: 20px 0; /* Space inside sections */
    min-height: 100vh;
}

#contact {
    scroll-margin-top: 70px;
    padding: 20px 0; /* Space inside sections */
}

/* Event Styles */
.events {
    padding-left: 10pt;
}

.event-list {
    padding-top: 10pt;
    padding-bottom: 20pt;
}

/* Card Styles */
.card {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    position: relative; /* Ensure positioning context */
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-family: "Raleway", serif;
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.card-title a {
    padding-left: 10px;
    color: var(--link-color) !important;
}

.card-title a:hover {
    color: var(--hover-link-color) !important;
}

.card-text-coauthors, .card-text-summary, .card-text-venue {
    margin-bottom: 0rem;
    font-size: 1.3rem;
}

.card-text-summary {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Space between text and link */
}

.card-text-venue {
    font-style: italic;
    padding-left: 0px;
}

/* Responsive Card Text */
@media (max-width: 767.98px) {
    .card-title {
        font-size: 1.3rem; /* Smaller font size for phones */
    }

    .card-text-coauthors, .card-text-summary, .card-text-venue {
        font-size: 1.2rem;
    }
}

/* Navbar Styles */
.navbar-custom {
    background-color: var(--navbar-color);
}

.navbar {
    box-shadow: 0 2px 4px rgb(175, 175, 175); /* Slight shadow to the bottom */
    z-index: 1030; /* Ensure this is above other content */
}

.navbar-brand {
    font-size: 2rem; /* Slightly larger font size for the brand */
    font-family: 'PT Serif', serif;
}

.navbar-nav .nav-item {
    margin-left: 1rem; /* Adds space between nav items */
}

.navbar-nav .nav-link {
    font-size: 1.3rem; /* Slightly larger font size for nav links */
}

/* Navbar Collapse Styles */
.navbar-collapse {
    position: fixed; /* Makes the dropdown overlay the content */
    top: 74px; /* Adjust based on your navbar height */
    left: 0;
    width: 100%;
    background-color: var(--navbar-color);
    z-index: 1050; /* Higher than the content */
    overflow-y: auto; /* Allows scrolling if content overflows */
}

/* Ensure that desktop view remains unaffected */
@media (min-width: 992px) {
    .navbar-collapse {
        position: static; /* Keep static for larger screens */
        display: flex; /* Show normally in desktop mode */
    }
}

/* Profile Picture Styles */
.profile-pic {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 40px; /* Space between image and icons */
    margin-top: 50px; /* Ensures some distance from the top on larger screens */
    border: 2px solid var(--card-border-color); /* Thin border around the picture */
}

/* Responsive Profile Picture */
@media (max-width: 767.98px) { /* Small devices */
    .profile-pic {
        width: 60%;
        height: auto;
        margin-top: 80px; /* Extra margin to ensure it stays visible */
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Medium devices */
    .profile-pic {
        width: 45%;
        height: auto;
        margin-top: 70px; /* Adjust for medium devices */
    }
}

/* Paper Title Styles */
.paper-title {
    font-weight: bold;
}

/* Author Links */
.authors a {
    text-decoration: none;
}

/* Paper Links */
.paper-links a {
    text-decoration: none;
    margin-right: 10px;
}

.paper-links i {
    margin-right: 5px;
}

/* Network Icons */
.network-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.network-icons li {
    display: inline-block;
}

.network-icons a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.network-icons a:hover {
    color: var(--hover-link-color);
}

/* Article Container */
.article-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100%;            /* Full height for vertical centering */
}

/* Article Style */
.article-style {
    overflow: hidden; /* Prevents overflow issues */
    padding: 15px;    /* Small padding on all sides */
    font-family: 'Garamond', serif; /* Good font for readability */
    line-height: 1.6; /* Improves readability */
    color: var(--text-color); /* Text color set to black */
    text-align: left;
}

/* Adjust network icon size for mobile */
@media (max-width: 767.98px) {
    .network-icons a {
        font-size: 1.2rem; /* Smaller size for better fit */
    }

    .big-icon {
        font-size: 2rem; /* Smaller icon size */
    }
}

/* Center the button */
.article-style .btn-page-header {
    display: block; /* Change to block to use margin auto */
    width: fit-content; /* Fit the button’s width to its content */
    margin: 20px auto 0; /* Center horizontally with auto margins */
    text-align: center; /* Center the text inside the button */
}

/* Footer Styles */
footer {
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    background-color: var(--footer-background-color);
    text-align: center;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--footer-link-hover-color); /* Hover link color */
}

/* Scroll to Top Link */
.scroll-to-top {
    text-decoration: underline;
}

.scroll-to-top:hover {
    color: var(--footer-link-hover-color);
}
